td
  height: 50px
  width: 100px
  border: 1px solid
  position: relative
  background-position: center
  background-repeat: no-repeat
  background-size: auto 75%

td.water
  background-color: lightblue

td.grass
  background-color: lightgreen

td.forest
  background-color: darkgreen

td.mountain
  background-color: yellow

td.my
  border: 3px solid
  background-image: url('../tile-avatar-player1.svg')

td.myCastle
  background-image: url('../tile-castle-player1.svg')

td.enemyCastle
  background-image: url('../tile-castle-player2.svg')

td .details
  position: absolute
  font-size: 10px

td .type
  top: 2px
  right: 3px

td .route
  bottom: 2px
  right: 3px

td .visibilityGain
  top: 2px
  left: 3px

td .moveCost
  top: 12px
  left: 3px

td .cumulatedCost
  top: 22px
  left: 3px
